.tasty-custom-meta-field label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.tasty-custom-meta-field {
    margin-bottom: 25px;
}

/* user report table */
table.tasty-user-report-table {
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
}

table.tasty-user-report-table th {
    padding: 5px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table.tasty-user-report-table th:last-child, table.tasty-user-report-table td:last-child {
    border-right: 1px solid #ddd;
}

table.tasty-user-report-table td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    border-left: 1px solid #ddd;
}

table.tasty-user-report-table tbody tr:nth-child(odd) {
    background: #e3e3e3;
}

.user-dropdown-area {
    margin-top: 20px;
}

.user-dropdown-area label {
    font-size: 16px;
    display: block;
    margin-bottom: 11px;
}

.preference-tab-area {
    margin-top: 30px;
}

.user-dropdown-area select {
    width: 300px;
}

.preference-tab-area {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.preference-tab-btn-area {
    width: 175px;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
}

.preference-tab-content-area {
    width: calc(100% - 175px);
    padding: 15px;
    box-sizing: border-box;
    background: #fff;
}

button.preference-tab-btn {
    display: block;
    padding: 10px;
    width: 100%;
    border: 1px solid #e9e9e9;
    background: #dfdfdf;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 0 none;
    cursor: pointer;
}

button.preference-tab-btn.active-element{
    background: #fff;
}

button.preference-tab-btn:last-child {
    border-bottom: 1px solid #e9e9e9;
}

.tasty-preference-items-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    box-sizing: border-box;
}

.tasty-preference-item {
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

img.tasty-item-image {
    width: 100%;
}

.tasty-preference-item h2 {
    font-size: 18px;
    margin: 0;
}